/* Start of default overall font size and color settings */
body {
  font-size: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #515151;
  box-sizing: border-box;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}


/* End of default style guide */

/* Start of class selector to apply certain styling */
.lighter-grey {
  color: #8A97A8
}

.darker-grey {
  color: #01161E;
  font-weight: 600;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.text-nodecor {
  text-decoration: none;
  color: inherit;
}

/* End of class selector to apply certain styling */

/* Start of navbar styling */
#navbar-desktop {
  display: flex;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  margin: 16px 24px;
}

#navbar-desktop > div > ul > li {
  margin-left: 16px;
  padding-bottom: 4px;
}

#navbar-desktop > div > ul > li:hover {
  border-bottom: solid #515151;
}

#navbar-mobile > ul{
  display: none;
}
/* End of navbar styling */

/* Start of banner styling */
#banner {
  margin-top: 64px;
  background-color: #d3d3d3;
  width: 100%;
}

#banner-image {
  box-sizing: content-box;
  width: 60%;
  padding: 32px 24px;
}

#banner-image > img {
  width: 100%
}

#banner-text {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  padding: 32px 80px 32px 24px;
}

#banner-text > * {
  margin: 1rem 0;
  line-height: 130%;
}

#start-here {
  border: none;
  background-color: #515151;
  max-width: 260px;
  width: 90%;
  color: white;
  padding: 8px;
  font-size: 16px;
}

/* End of banner styling */